APP_HOST=0.0.0.0
APP_PORT=8080

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=commenttree
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/commenttree?sslmode=disable